.error {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #545050;
  block-size: 386px;
}

.error__title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}
