*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: auto;
}

.result {
  position: relative;
  margin-block-start: 78px;
}

.result__video-container {
  position: relative;
  margin-block-end: 21px;
  block-size: 386px;
  inline-size: 711px;
}

.result__video {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:has(input[type='text']) {
  inline-size: 225px;
}

.search-form__fieldset:has(input[type='checkbox']) {
  inline-size: 212px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: start;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 2px;
  cursor: pointer;
}

.search-form__label-text {
  line-height: 1.2;
}

.search-form__textfield {
  border-style: none;
  border-block: 1px solid currentColor;
  padding-block: 2px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  text-align: start;
  background-color: transparent;
  inline-size: 100%;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 18px;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  margin-inline-start: 1px;
  border: 1px solid #fff;
  inline-size: 19px;
  block-size: 19px;
}

input[type='checkbox']:checked + span::before {
  content: '';
  display: flex;
  margin: 1px;
  border: 1px solid #fff;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.button {
  border: 1px solid currentColor;
  padding-block: 6px;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.2;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.search-form__submit-button {
  align-self: end;
  padding: 6px 73px;
}

.content__details {
  inline-size: 399px;
}

.title {
  margin-block: 4px 22px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.94;
  text-align: start;
  text-transform: uppercase;
  max-inline-size: 100%;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  overflow: auto;
  block-size: 298px;
}

.content__list-item:not(:last-child) {
  margin-block-end: 36px;
}

.content__card-link {
  display: block;
  margin: 2px 0 2px 2px;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  display: flex;
  justify-content: start;
}

.content__video-card-description-container {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.content__video-card-title {
  margin-block-end: 8px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-align: start;
  text-transform: uppercase;
  max-inline-size: 100%;
}

.content__video-card-description {
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0.9;
  text-align: start;
}

.content__video-card-thumbnail {
  object-fit: cover;
  block-size: 100px;
  inline-size: 180px;
}

.more-button {
  inline-size: 100%;
}

/* СТАТУСЫ ЭЛЕМЕНТОВ */

.search-form__textfield:focus,
.button:focus,
.content__card-link:focus {
  outline: none;
}

.search-form__label:has(:focus-visible),
.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.search-form__label:not(:has(.search-form__textfield)):hover,
.button:hover,
.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-position: under;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

input[type='checkbox']:active + span::before {
  content: '';
  display: flex;
  margin: 1px;
  border: 1px solid #fff;
  background-color: currentColor;
  inline-size: 15px;
  block-size: 15px;
}

.button:active,
.content__card-link:active {
  background-color: #545050;
}
